<!-- Main charts -->
{% extends "index.html" %}
{% load i18n %}
{% block main_content %}
{% load static %}
{% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
<div id="app">
<div class="panel panel-flat">
  <div class="panel-heading">
    <h5 class="panel-title">{% trans 'Prescription' %}</h5>
    <div class="heading-elements">
      <ul class="icons-list">
        <li><a data-action="collapse"></a></li>
        <li><a data-action="reload"></a></li>
        <li><a data-action="close"></a></li>
      </ul>
    </div>
  </div>
<form class="" action="" method="POST">
{% csrf_token %}
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="card" style="background-color: #f9f9f9;padding: 2%;">
          <div class="card-body">
            <h5 class="card-title">Dr Shaki Ahmmed</h5>
            <p>MBBS</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card" style="background-color: #f9f9f9;padding: 2%;">
          <div class="card-body">
            <h5 class="card-title">Chamber: Lab Aid</h5>
            <p>MBBS</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <table class="table table-responsive">
      <tr>
        <th>Name : {{patient_form.patient_name}} </th>
        <th>Age :  {{patient_form.patient_age}} </th>
        <th>Sex :  {{patient_form.patient_sex}} </th>
        <th>Phone : {{patient_form.patient_phone}} </th>
        <th>Date : {{patient_form.prescription_date}} </th>
      </tr>
    </table>
    <hr>
    <div style="height: 500px;">
      <div class="row">
        <div class="col-lg-2">
          <div class="card" style="background-color: #f9f9f9;padding: 2%;">
            <div class="card-body">
              <h5 class="card-title">Chamber: Lab Aid</h5>
              <p>MBBS</p>
            </div>
          </div>

          <div class="card" style="background-color: #f9f9f9;padding: 2%;">
            <div class="card-body">
              <h5 class="card-title">Chamber: Lab Aid</h5>
              <p>MBBS</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <span class="vl"></span>
        </div>
        <div class="col-lg-8" style="margin-left: -8%;">
          <div class="row">
            <div class="col-lg-2">
              <h4>Rx:</h4>
            </div>
            <button style="float: right;margin-right: 2%;" type="button" @click="AddNewMedicineForm" class="btn btn-success" name="button"><i class="fa fa-plus"></i></button>



            <!-- <form action="" @submit.prevent="AddIntoForm">
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Medicine</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="panel panel-flat">
                          <div class="panel-heading">
                            <div class="heading-elements">
                              <ul class="icons-list">
                                <li><a data-action="reload"></a></li>
                              </ul>
                            </div>

                          </div>

                          <div class="panel-body">

                            <div class="form-group">
                              <label class="col-lg-3 control-label">Medicine Name:</label>
                              <div class="col-lg-9">
                                <input type="text" v-model="PrescriptionMedicineForm.medicine_name" class="form-control" placeholder="Enter Medicine Name">
                                <span class="text-danger"></span>

                              </div>
                            </div>
                            <br>
                            <div class="form-group">
                              <label class="col-lg-3 control-label">Medicine Remarks:</label>
                              <div class="col-lg-9">
                                <select type="text" v-model="PrescriptionMedicineForm.remarks" class="form-control">
                                  <option>After eating</option>
                                  <option>Before eating</option>
                                </select>
                                <span class="text-danger"></span>

                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-lg-3 control-label"></label>
                              <div class="col-lg-9">
                                <input type="checkbox" @click="AddDuration($event,1)" name="" value=""> Morning
                                <br>
                                <input type="checkbox" @click="AddDuration($event,2)" name="" value=""> After Noon
                                <br>
                                <input type="checkbox" @click="AddDuration($event,3)" name="" value=""> Night

                              </div>
                            </div>
                            <br>

                            <div class="form-group">
                              <label class="col-lg-3 control-label">Duration:</label>
                              <div class="col-lg-9">
                                <input type="number" v-model="PrescriptionMedicineForm.duration"  class="form-control" >
                                <span class="text-danger"></span>

                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-lg-3 control-label">Duration Type:</label>
                              <div class="col-lg-9">
                                <input type="radio" v-model="PrescriptionMedicineForm.duration_type" name="duration_type" value="1"> Days
                                <input type="radio" v-model="PrescriptionMedicineForm.duration_type" name="duration_type" value="2"> Weeks
                                <input type="radio" v-model="PrescriptionMedicineForm.duration_type" name="duration_type" value="3"> Months
                                <input type="radio" v-model="PrescriptionMedicineForm.duration_type" name="duration_type" value="4"> Continue
                              </div>
                            </div>
                            <br>


                          </div>
                        </div>


                      </div>
                    </div>

                  </div>

                  <hr>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </div>
            </div>
            </form> -->

          </div>

          <br>
          <div class="col-lg-12">
            <table class="table table-responsive" style="width: 1150px;">
              <tr>
                <th>Sl No</th>
                <th style="width: 25%;">Medicine Name</th>
                <th style="width: 18%;">Remarks</th>
                <th >Morning</th>
                <th>After Noon</th>
                <th>Night</th>
                <th>Duration</th>
                <th>Duration Type</th>
                <th>Action</th>
              </tr>
              <tr v-for="(medicine_data,index) in PrescriptionMedicine">
                <td v-text="index+1"></td>
                <td>

                  <select name="medicine_name[]"  class="form-control">
                      {% for medicine_data in all_medicine_list %}
                        <option value="{{ medicine_data.pk }}"> {{ medicine_data.medicine_name }} </option>
                      {% endfor %}
                  </select>
                </td>
                <td>
                    <select type="text" name="remarks[]"  class="form-control">
                        <option>After eating</option>
                        <option>Before eating</option>
                    </select>
                </td>
                <td style="width: 20%;">
                  <select class="form-control" name="schedule_is_morning[]">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </td>
                <td style="width: 20%;">
                  <select class="form-control" name="schedule_is_after_noon[]">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </td>
                <td style="width: 20%;">
                  <select class="form-control" name="schedule_is_night[]">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </td>
                <td><input type="number" name="duration[]"  class="form-control"></td>
                <td style="width: 30%;">
                  <select class="form-control" name="duration_type[]">
                      <option value="1">Days</option>
                      <option value="2">Weeks</option>
                      <option value="3">Months</option>
                      <option value="4">Continue</option>
                  </select>
                </td>
                <td><button type="button" @click="RemoveMedicineForm(index)" class="btn btn-danger" name="button"><i class="fa fa-trash"></i></button></td>
              </tr>
            </table>
          </div>



        </div>
      </div>
    </div>
    <button type="submit" style="float: right;" class="btn btn-success" name="button"><i class="fa fa-check-circle" aria-hidden="true"></i></button>

  </div>
  </form>
</div>
</div>
<script type="text/javascript" src="{% static "backend_assets/custom/js/prescription.js" %}"></script>
<style>
  .vl {
    border-left: 2px solid #000000;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
</style>
{% endblock main_content %}
